{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Pattern Lock Project</title>
    {% comment %} {% include '../includes/head.html' %} {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'author/css/author.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'author/css/patternlock.css' %}">
  </head>

  <body>
    <div class="master">
      <form method="post" action="{% url 'saveChanges'%}">{% csrf_token %}
        <div class="row">
          <h3>Change Account Settings</h3>
          <div class="input-group input-group-icon">
            <input value="{{ user.username }}" type="text" name="username" placeholder="Username" readonly/>
          </div>
          <div class="input-group input-group-icon">
            <input value="{{ user.fname }}" type="text" name="fname" placeholder="First Name"/>
          </div>
          <div class="input-group input-group-icon">
            <input value="{{ user.lname }}" type="text" name="lname" placeholder="Last Name"/>
          </div>
          <div class="input-group input-group-icon">
            <input value="{{ user.email }}" type="email" name="email" placeholder="Email Adress"/>
          </div>
          <div class="input-group input-group-icon">
            <div class="container">
              <h2 id="status">Enter old Pattern</h2>
              <svg class="patternlock" id="oldlock" viewBox="0 0 130 130" xmlns="http://www.w3.org/2000/svg">
                <g class="lock-actives"></g>
                <g class="lock-lines"></g>
                <g class="lock-dots">
                <circle cx="20" cy="20" r="2"/>
                <circle cx="50" cy="20" r="2"/>
                <circle cx="80" cy="20" r="2"/>
                <circle cx="110" cy="20" r="2"/>

                <circle cx="20" cy="50" r="2"/>
                <circle cx="50" cy="50" r="2"/>
                <circle cx="80" cy="50" r="2"/>
                <circle cx="110" cy="50" r="2"/>

                <circle cx="20" cy="80" r="2"/>
                <circle cx="50" cy="80" r="2"/>
                <circle cx="80" cy="80" r="2"/>
                <circle cx="110" cy="80" r="2"/>

                <circle cx="20" cy="110" r="2"/>
                <circle cx="50" cy="110" r="2"/>
                <circle cx="80" cy="110" r="2"/>
                <circle cx="110" cy="110" r="2"/>
                </g>
                <svg>
            </div>
          </div>
        </div>
        <input type="hidden" value="" name="pattern" id="patt"/>
        <input type="hidden" value="{{ user.pattern }}" id="oldpatt"/>
        <input type="submit" value="Save Changes" name="" id=""/>
      </form>
    </div>
    <script src="{% static 'public/jquery/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'author/js/patternlock.js' %}"></script>
    <script type="text/javascript">

      let stat = false;
      let patt = document.getElementById('patt');
      let oldpatt = document.getElementById('oldpatt').value;
      let olde = document.getElementById('oldlock');
      let oldp = new PatternLock(olde, {
        onPattern: function(pattern) {
          if(oldpatt == pattern || stat == true){
            if(oldpatt == pattern){
              this.success();
              stat = true;
              setTimeout(() => {
                this.clear();
              }, 1000);
              document.getElementById('status').innerText="Enter New Pattern";
            } else if (stat == true){
              patt.value = pattern;
            }
          } else {
            this.error();
            setTimeout(() => {
              this.clear();
            }, 1000);
          }
        }
      });

    </script>
  </body>

</html>
